*{
    background-color: #0D121F;
    color: #EAEAEA;
    scroll-behavior: smooth;
}

.cor-letra{
    color: #EAEAEA;
    text-decoration: none;
}

.cora{
    background-color: #0D121F;
}

/*Header👇*/
.borderBaixo{
   border-bottom: 1px solid #161e33;
}

.imgTakout{
    margin-left: 13%;
}

.navLoca{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nItem{
    padding: 10px;
}

.btnL{
    background-color: #0D121F;
    border: none;
    margin-right: 2%;
}

.btnI{
    width: 125px;
    height: 50px;
}

/*Body👇*/
.diviTitulo1{
    margin-top: 242px;
}

.paragrafo1{
    margin-top: 24px;
}

.btnCont{
    margin-top: 40px;
    width: 260px;
    height: 52px;
}

.placeHolder1{
    background-color: #1F2024;
    border-radius: 50px;
    margin-top: 120px;
    width: 1109px;
    height: 589px;
}

/*Solução👇*/

.soluBGC{
    background-color: #FFFFFF;
}