*{
    background-color: #0D121F;
}

/* Header 
     |
     V   */
.navbar{
    border-bottom: 1px solid rgb(48, 48, 48);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.me-auto{
   margin: 0 auto;
}

.navbar h6{
    margin-top: 6px;
    color: #ffff;
}

.navbar h5{
    margin-right: 10px;
    margin-top: 5px;
    color: #ffff;
}

.navbar button{
    width: 125px;
    height: 50px;
}

/* Serviço 
      |
      V   */

.diviTitulo1{
   margin-top: 242px;
        
}

.diviTitulo1 h1{
    color: #ffff;
}
    
.paragrafo1{
    margin-top: 24px;
    color: #ffff;
}
    
.btnCont{
    margin-top: 40px;
    width: 260px;
    height: 52px;
}
    
.placeHolder1{
    background-color: #1F2024;
    height: 300px;
    width: 350px;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 15px;
}

/* Solução 
      |
      V   */

.fundoSolu{
    background-color: #ffff;
    margin-top: 30px;
    padding-top: 60px;
}

.tituloSolu{
    text-align: center;
    background-color: #ffff;
}

.tituloSolu h1{
    color: #0C0047;
    background-color: #ffff;
}

.tituloSolu p{
    color: #969696;
    background-color: #ffff;
}

.cardsSolu{
    margin-top: 66px;
    padding-bottom: 70px;
    background-color: #ffff;
    justify-content: space-around;
}

.cardSoluFundo{
    background-color: #ffff;
}

.placeHolder2{
    background-color: #858585;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;
    width: 64px;
    height: 64px;
}

/* Como Funciona(CF)
         |
         V   */

.fundoCF{
    background-color: #017AFF;
    padding-top: 70px;
}

.tituloCF{
    text-align: center;
    background-color: #017AFF;
}

.tituloCF h1{
    text-align: center;
    background-color: #017AFF;
    color: #ffff;
    margin-bottom: 10px;
}

.tituloCF p{
    text-align: center;
    background-color: #017AFF;
    color: #ffff;
}

.placeHolder3{
    background-color: #ffff;
    margin: 0 auto;
    margin-left: 40px;
    margin-top: -80px;
    border-radius: 15px;
    height: 110%;
    width: 100px;
}

.flexiona{
    justify-content: center;
    background-color: #017AFF;
    display: flex;
    margin-top: 70px;
}

.ladinhoTab{
    margin-left: 50px;
}

.navItemMT{
    margin-top: 10px;
}

.fundoColCF{
    background-color: #017AFF;
}

.fundoColCFFunc{
    color: #ffff;
    background-color: #017AFF;
}
